.actionBtn {
  border: 2px solid #2a7a80;
  outline: none;
  background-color: #ffffff;
  padding: 4px;
  color: #2a7a80;
  border-radius: 4px;
}

.active {
  border: 1px solid #2a7a80;
  outline: none;
  background-color: #2a7a80;
  padding: 4px;
  color: #ffffff;
  border-radius: 4px;
}
